/* Importing google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* color palette from <https://github.com/vuejs/theme> */
:root {
  --primary: #03001C;
  --secondary: #301E67;
  --tertiary: #5B8FB9;
  --quartary: #B6EADA;

  --font-heading: 'Source Sans 3', sans-serif;
  --font-text: 'Source Sans 3', sans-serif;


}

/* semantic color variables for this project */
:root {
  --color-background: #8acab7;
  --color-background-soft: #bde9dc;
  --color-background-mute: #d1e3de;

  --color-border: #8ac3b3;
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: #301E67;
  --color-text: black;

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #03001C;
    --color-background-soft: #301E67;
    --color-background-mute: #0a0829;

    --color-border: rgba(255, 255, 255, 0.178);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: #5B8FB9;
    --color-text: #9db0aa;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

body,p,a,button,input,::placeholder{
  font-family: var(--font-text);

}

button,input{
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-heading);
}
