@import './base.css';

#app {
  /* max-width: 1280px; */
  margin: 0 auto;

  font-weight: normal;
}

a{
  text-decoration: none;
  color: var(--quartary);
  transition: 0.4s;
  cursor: pointer;
}
button{
  cursor: pointer;
  background: 0;
  border: 0;
}

h1,.h1{
  font-size: 36px;
  color: var(--tertiary);
}

@media (hover: hover) {
  a:hover {
    color: var(--tertiary);
  }
}

@media (min-width: 1024px) {

}
